<div id="nav-bar">
  <a href="/dashboard">
    <img src="./../../assets/money-bee-logo.png">
  </a>
  <div class="dropdown">
    <button class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Options 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="/account-selection">Add New Account</a>
      <a href="/user-settings">User Details</a>
      <a href="/" (click)="logout()">Logout</a>
    </div>
  </div>
</div>
<div id="user-details-container" class="flex container mx-auto justify-center">
    <div class="w-full max-w-xs" id="creationBox">
        <form class="bg-white shadow-md rounded border border-gray-600 px-8 pt-6 pb-8 mb-4">
          <a class="block text-gray-700 text-l font-bold mb-6">
            Edit User Details:
          </a>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="firstName">
              First Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="firstName" type="text" placeholder="First Name" value="{{user.firstName}}" (keyup)="onKey($event, 'firstName')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="lastName">
              Last Name
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="lastName" type="text" placeholder="Last Name" value="{{user.lastName}}" (keyup)="onKey($event, 'lastName')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="phoneNumber">
              Phone Number
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="phoneNumber" type="text" placeholder="xxx-xxx-xxxx" value="{{user.phoneNumber}}" (keyup)="onKey($event, 'phoneNumber')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
              Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="email" type="text" placeholder="example@email.com" value="{{user.email}}" (keyup)="onKey($event, 'email')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="street">
              Street
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="street" type="text" placeholder="123 Street" value="{{user.address}}" (keyup)="onKey($event, 'email')">
          </div>
          <div class="flex items-center justify-between" id="submitDetailsButton">
            <button class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="onSubmitDetails()">
              Submit
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-gray-600 hover:text-gray-900" id="backLink" href="#" [routerLink]="['/dashboard']">
              Back
            </a>
          </div>
        </form>
        <form class="bg-white shadow-md rounded border border-gray-600 px-8 pt-6 pb-8 mb-4">
          <a class="block text-gray-700 text-l font-bold mb-6">
            Change Password:
          </a>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="oldPassword">
              Old Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="oldPassword" type="text" placeholder="**********" (keyup)="onKey($event, 'oldPassword')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="newPassword">
              New Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="newPassword" type="text" placeholder="**********" (keyup)="onKey($event, 'newPassword')">
          </div>
          <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="confirmPassword">
              Confirm New Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none 
            focus:bg-yellow-200" id="confirmPassword" type="text" placeholder="**********" (keyup)="onKey($event, 'confirmPassword')">
          </div>
          <div class="flex items-center justify-between" id="submitPasswordButton">
            <button class="bg-yellow-500 hover:bg-yellow-600 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" (click)="onSubmitPassword()">
              Submit
            </button>
            <a class="inline-block align-baseline font-bold text-sm text-gray-600 hover:text-gray-900" id="backLink" href="#" [routerLink]="['/dashboard']">
              Back
            </a>
          </div>
        </form>
        <div *ngIf="error" class="notification bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
          <strong class="font-bold">Error! </strong>
          <span class="block sm:inline">{{error}}</span>
          <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
            <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
              (click)="clearError()"/></svg>
          </span>
        </div>
    </div>
  </div>  
