#account-selection-container {
    min-height: 100vh;
    min-width: 100vw;
    color: white;
    position: relative;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}

#submitButton {
  align-items: center;
  display: flex;
  justify-content: center;
}

#backLink {
  margin: 25px;
}
