#dashboard-component {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(250, 203, 115);
  background-size: cover;
  background-position: center;

  h3 {
    font-size: 24px;
    color: rgb(45, 71, 136);

  }

  #dashboard-banner {
    background-image: url("./../../assets/background.jpg");
    min-width: 100vw;
    min-height: 15vh;
    max-height: 15vh;
  }
}



// #bg {
//   position: fixed; 
//   top: -50%; 
//   left: -50%; 
//   width: 200%; 
//   height: 200%;
// }
// #bg img {
//   position: absolute; 
//   top: 0; 
//   left: 0; 
//   right: 0; 
//   bottom: 0; 
//   margin: auto; 
//   min-width: 50%;
//   min-height: 50%;
//   opacity: 0.6;
// }
